<div id="modo-edicao" class="position-absolute align-self-end d-flex btn-group-vertical" role="group"
    aria-label="Vertical button group">
    <button id="btn-edicao" class="m-0 p-0 d-flex border border-none rounded-circle justify-content-center">
        <i class="gear-icon"></i>
    </button>
    <button id="btn-edicao-salvar"
        class="my-1 btn btn-outline-info m-0 p-0 d-flex justify-content-center border border-none d-none">
        <i class="save-icon"></i>
    </button>
    <button id="btn-edicao-cancelar"
        class="btn btn-outline-danger m-0 p-0 d-flex border border-none rounded-circle justify-content-center d-none">
        <i class="cancel-icon"></i>
    </button>
</div>
