NODE_ENV='' # development | production

NODE_PORT= # Int Porta

DATABASE_URL='mysql://root:password@localhost:6700/mydb' # URL para acessar banco de dados
IS_DOCKER='false' # para executar com docker substituir false por true

SESSAO_SEGREDO='' #Segredo para assinatura da sessão
SEGREDO_JWT='' # segredo de 256 bits (gerado aqui, por exemplo: https://generate-random.org/encryption-key-generator?count=1&bytes=256&cipher=aes-256-cbc-hmac-sha256&string=&password=)
SESSAO_MAX_TEMPO=86400000 # Tempo máximo para cookie da sessão 24h

WINSTON_LOG_LEVEL="http" # Nivel do logger Winston

## EXPIRARAM:
CHAVE_AZURE_EMAIL_COMMUNICATION_SERVICE='jkKU1/SPD2HJgSVfTmFoN9XozItB13a8f6QRMImieyOo4yawx83LIVWrZRGFxc2UI3/mJxB0prgRsaqx8doPGQ=='
ENDPOINT_AZURE_EMAIL_COMMUNICATION_SERVICE='https://comms-readtogether-service.communication.azure.com/'
URL_COM_TOKEN_SAS_AZURE_BLOB_STORAGE='https://cs2100320016984174e.blob.core.windows.net/readtogether-images?sp=racwd&st=2023-05-25T03:42:22Z&se=2023-06-05T02:59:59Z&spr=https&sv=2022-11-02&sr=c&sig=FAxcawbunwu4b3GDD71z8jlPjSNRqV0eJroJb6AvuDw%3D'
DOMINIO_AZURE_EMAIL_COMMUNICATION_SERVICE=
