<form action="login" method="post">
    <label>
        Email:
        <input type="email" name="email" id="email" />
    </label>
    <label>
        Senha:
        <input type="password" name="senha" id="senha" />
    </label>
    <input type="submit" value="Enviar" />
</form>