:root {
    --azul-claro: #B1F1FF;
    --cinza-escuro: #4E4E4E;
    --cinza: #BDBDBD;
    --lilas:#675fff;
    --cinza-claro: #E6E6E6;
    --tamanho-texto-padrao: 16px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.bg-gray-200 {
    background-color: var(--bs-gray-200);
}

/*<Icons>*/
i.circle-icon {
    width: 1em;
    content: url('/midia/circle.svg');
}

i.circle-fill-icon {
    width: 1em;
    content: url('/midia/circle-fill.svg');
}

.trash-can-icon-toggle {
    background: no-repeat url('/midia/trash-can-white.svg') center center;
}
/*</Icons>*/


nav {
    box-shadow: 0 0 5px var(--cinza-escuro);
}

nav img#logo {
    height: 40px;
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    margin-right: 15px;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: var(--tamanho-texto-padrao);
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}