<div class="container-fluid row mt-4">
    <section class="col-lg-3 border border-dark me-lg-3"></section>
    <div class="col">
        <section class="row border border-dark" style="height:400px;">aa</section>
        <section class="row border border-dark" style="height: 400px;">ss</section>
    </div>
</div>
</div>