<div class="container h-100 pt-4" style="margin-top: 20px;">
    <section id="clube-reuniao" class="card w-100" style="height: 450px; box-shadow: -1px 1px 5px #675fff;" data-room-name="<%- clubeData.hash %>" data-clube-name="<%- clubeData.nome %>">

    </section>
    <section class="mt-4">
        <div class="info-clube-reuniao">
            <h1 class="fs-5"><%- clubeData.nome %></h1>
            <h2 class="fs-6"><%- clubeData.subtitulo %></h2>
        </div>
    </section>
</div>

<script src="https://meet.jit.si/external_api.js"></script>
<script src="/scripts/reuniao.js"></script>