<footer>
    <div class="container-footer">
        <p>
            <i class="bi bi-github"> </i>
        </p>
        <p>
            <a class="rt-git" href="https://github.com/orgs/PJI110-SALA-001GRUPO-009-2023/repositories"> Read
                Together -
                2023</a>
        </p>
    </div>
</footer>