<div class="modal fade" id="membrosModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="membrosModalLabel"
    aria-hidden="true">
    <div class="modal-xl modal-dialog modal-dialog-scrollable">
        <div id="modal-conteudo" class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="membrosModalLabel">
                    Gerenciar membros
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="corpo-modal-membros" class="modal-body">
                <div class="container-fluid d-flex flex-column h-100">
                    <section id="convidar-membros" class="mb-3">
                        <h5 class="fs-4 mb-3">Convidar Para Ser Membro</h5>
                        <form id="formConvidar" action="/clube/email" method="post">
                            <fieldset class="d-flex mb-3 justify-content-around">
                                <label class="d-none" for="idClube"></label>
                                <input class="d-none" id="idClube" type="number" value="<%-idClube%>">
                                <label for="inputEmail" class="col-form-label d-inline">Email</label>
                                <div class="flex-grow-1 mx-sm-3">
                                    <input id="inputEmail" class="form-control" type="email">
                                </div>
                                <div>
                                    <button id="btnConvidar" class="btn btn-primary">Enviar convite</button>
                                </div>
                            </fieldset>
                        </form>
                    </section>
                    <section id="membros-atuais" class="flex-grow-1">
                        <h5 class="fs-4 mb-3">Lista de Membros</h5>
                        <section id="lista-de-membros" class="position-relative">
                            <ul class="m-0 p-0 h-75">
                                <% membros.forEach((membro, idx)=> { %>
                                    <li class="d-flex w-100 p-2 fs-5 justify-content-between">
                                        <a href="#" class="d-inline lh-lg">
                                            <i
                                                class="circle<%- idx % 2 !== 0 ? '' : '-fill'%>-icon mx-lg-1 lh-base"></i>
                                            <%- membro %>
                                        </a>
                                        <div class="btn-group d-inline" role="group" aria-label="Promover ou banir">
                                            <button class="btn btn-outline-success">Promover</button>
                                            <button class="btn btn-outline-danger">Banir</button>
                                        </div>
                                    </li>
                                    <% }) %>
                            </ul>
                        </section>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const formConvite = document.querySelector("#formConvidar")
    formConvite.addEventListener('submit', async (e) => {
        e.preventDefault()

        const jsonData = JSON.stringify({
            idClube: formConvite.querySelector('#idClube').value,
            emailDestinatario: formConvite.querySelector('#inputEmail').value
        })

        try {
            const res = await fetch('/clube/email', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: jsonData
            })
            console.log(res)
            alert('Enviado!')
        } catch (err) {
            throw new Error(err)
        }
    })
</script>