<section class="col-lg-4 offset-lg-4 card" style="height: 434px">
    <h4>Enquetes:</h4>
    <div class="card-body w-100" style="max-height: 232px">
        <ul class="list-group">
            <li class="list-group-item">...</li>
            <li class="list-group-item">...</li>
            <li class="list-group-item">...</li>
            <li class="list-group-item">...</li>
            <li class="list-group-item">...</li>
            <li class="list-group-item">...</li>
        </ul>
    </div>
</section>