<section 
    id="historico-de-leitura" 
    <%- usuarioAdmin ? `class="col-lg-6"` : `class="col-lg-7"` %>
>
    <div class="card pb-0">
        <div class="row w-100">
            <h4 class="col-9">Leituras Recentes:</h4>
            <select class="col-3 align-self-end mb-2" style="font-size: 12px; height: 20px; width: 120px">
                <option id="show-five" value="5">Mostrar 5</option>
                <option id="show-ten" value="10">Mostrar 10</option>
            </select>
        </div>
        <ul id="lista-leituras" class="list-group w-100 px-2">
        </ul>
        <div class="my-3">
            <ul class="pagination pagination-md m-0">
                <li class="page-item active">
                    <a class="page-link" href="#" tabindex="-1">1</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<script src="/scripts/listaLeitura.js"></script>