<section class="col-lg-4 d-flex flex-column">
    <a href="<%- clubeData.idClube -%>/reuniao/1" class="d-inline rounded mb-2 btn btn-lilas btn-secondary">
        Participar da Reunião
    </a>
</section>
<%- include('./_listaLeituras.ejs', {usuarioAdmin: clubeData.admin}) %>