<div class="container" id="container-form">
    <form class="row" method="post">
        <h3>Cadastre-se:</h3>
        <div class="col">
            <div class="md-4">
                <label for="nome" class="label-form-cad">Nome:</label>
                <input name="nome" type="text" class="form-control" id="nome" placeholder="Nome" required>
            </div>
            <div class="md-4">
                <label for="email" class="label-form-cad">E-mail</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="nome@exemplo.com" required>
            </div>
            <div class="md-4">
                <label for="local" class="label-form-cad">Local:</label>
                <input type="select" class="form-control" id="local" placeholder="Exemplo: São Paulo - SP">
            </div>
        </div>

        <div class="col">
            <div class="md-4">
                <label class="picture-input" for="imagem" tabIndex="0">
                    <span class="picture-image"></span>
                </label>
            </div>
            <div class="md-4">
                <input type="file" id="picture-input">
                <div class="md-4">
                    <label for="bio" class="label-form-cad">Descrição:</label>
                    <textarea name="bio" class="form-control" placeholder="Fale um pouco sobre você..." id="bio"
                        style="height: 100px" required></textarea>
                </div>
            </div>
        </div>
        <hr class="dashed">
        <div class="row">
            <div class="col">
                <div class="md-4">
                    <label for="senha" class="label-form-cad">Senha:</label>
                    <input name="senha" type="password" class="form-control" id="user-password" placeholder="Cadastre sua senha:"
                        required>
                </div>
            </div>
            <div class="col">
                <div class="md-4">
                    <label for="senha" class="label-form-cad">Confirme a senha:</label>
                    <input type="password" class="form-control" id="user-password-conf"
                        placeholder="Repita a senha cadastrada:" required>
                </div>
            </div>
        </div>
        <hr class="dashed">
        <div class="row">
            <div class="col">
                <div class="md-4">
                    <button class="btn" id="btn-lilas">Cadastrar</button>
                    <a href="/" class="btn btn-primary" id="btn-branco">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>