<form action="" method="post">
    <label>
        <input type="number" name="idUsuario" id="" required>
    </label>
    <label>
        Nome
        <input type="text" name="nome" value="" required>
    </label>
    <label>
        Email
        <input type="text" name="email" value="" required>
    </label>
    <label>
        Senha
        <input name="senha" type="text" required>
    </label>
    <label>
        Data de Nascimento
        <input type="date" name="dataNascimento" value="">
    </label>
    <label>
        Bio
        <textarea name="bio"></textarea>
    </label>
    <input type="submit" value="Enviar">
</form>